<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>
		<% if @path == 'index' %>
			    //SYSPRINT Who said mainframers didn't do cool stuff?
		<% elsif @path.split('/').compact.length == 4 %>
			    //SYSPRINT DD *    <%= title %>
		<% else %>
			    //SYSPRINT DD *    <%= @path.capitalize.gsub(/[-]/, ' ') %>
		<% end %>
	</title>

  </head>
  <body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-1.6.4.min.js"><\/script>')</script>
  	<script type="text/javascript">

        var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-26670845-1']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

   </script>
	<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
	<script type="text/javascript">
		    hljs.initHighlightingOnLoad();
	</script>
<div id="topMenuBar" class="white">
       <ul>
         <li><a href="#">Menu</a></li>
         <li><a href="#">Utilities</a></li>
         <li><a href="#">Compilers</a></li>
         <li><a href="#">Options</a></li>
         <li><a href="#">Status</a></li>
         <li><a href="#">About Us</a></li>
       </ul>
     </div>

	<section>
      <%= yield %> 
    </section>
	<footer>
	This blog is proudly hosted in a WebDyno on Heroku! Being a Mainframer I'm kidna fond of Dynos (or Dinos').
	I know that being a Mainframer I should not be messing about with things like <a href="http://git-scm.com">git</a>,
	but I do :). Gueass what, this blog is managed with it aswell :)

      It's powered by <a href="http://cloudhead.io/toto">toto</a> and it's frigging awesome!
    </footer>
  </body>
</html>

